@media (max-width: 1025px) {
  header .sign-option {
    width: 70%;
  }
}
@media (max-width: 786px) {
  header .sign-option {
    width: 87%;
  }
  .main-wrapper .section-one .section-one-title {
    font-size: 32px;
  }

  .main-wrapper .section-one .section-one-para {
    font-size: 18px;
    text-align: center;
  }

  .main-wrapper .section-one .row div {
    align-items: center;
  }
}

@media (max-width: 486px) {
  header .topnav img {
    width: 90px;
    height: 32px;
    margin-top: 50px;
  }
  header .header-slogan h2 {
    font-size: 25px;
  }
  header .sign-option {
    width: 100%;
  }
}
