* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/ca6a7616-0acb-4bc5-be25-c4deef0419a7/c5af601a-6657-4531-8f82-22e629a3795e/IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  height: 100%;
}

.main-content .sign-form {
  background-color: rgba(0, 0, 0, 0.75);
  min-height: 660px;
  min-width: 450px;
  width: 100%;
  width: 200px;
  padding: 60px 68px 40px;
}

.main-content ::placeholder {
  /* color: grey; */
}
.sign-form .sign-form-bottom a {
  text-decoration: none;
}

footer {
  background-color: rgba(0, 0, 0, 0.75);
}
/* responsive */

@media (max-width: 486px) {
  header img {
    height: 20px;
    width: 70px;
  }
  .main-content .sign-form {
    min-width: 358px;
  }
}
